.gender-select {
    grid-area: gender;

    display: grid;
    grid-template-rows: auto auto;
    grid-row-gap: 2px;

    margin: 20px 16px 0 16px;
    cursor: default;

    label {
        color: var(--input-label-counter-icon);
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0;
        line-height: 20px;
    }
}



.gender-select-wrapper {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: start;
    grid-column-gap: 15px;

    padding: 0 12px 0 12px;
}

.gender-select-wrapper p {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 20px;
}

.gender-select_passive {
    color: var(--input-placeholder);
}

.cl-toggle-switch {
    position: relative;

    height: 20px;
    width: 38px;
}

.cl-switch {
    position: relative;
    display: inline-block;

    height: 100%;
    width: 100%;
    cursor: pointer;
}

/* Input */
.cl-switch>input {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    z-index: -1;
    position: absolute;
    right: 3px;
    top: -8px;
    display: block;
    margin: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: black;
    outline: none;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s 0.1s, transform 0.2s 0.1s;
}

/* Track */
.cl-switch>span::before {
    content: "";
    float: right;
    display: block;
    margin: 5px 0 5px 10px;
    border-radius: 7px;
    width: 32px;
    height: 12px;
    background-color: rgb(238, 238, 238, 0.8);
    transition: background-color 0.2s, opacity 0.2s;
}

/* Thumb */
.cl-switch>span::after {
    content: "";
    position: absolute;
    top: 2px;
    right: 14px;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    background-color: var(--text);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    transition: background-color 0.2s, transform 0.2s;
}

/* Checked */
.cl-switch>input:checked {
    right: -10px;
    background-color: black;
}

.cl-switch>input:checked+span::before {
    background-color: rgb(238, 238, 238, 0.8);
}

.cl-switch>input:checked+span::after {
    background-color: var(--text);
    transform: translateX(16px);
}

/* Hover, Focus */
.cl-switch:hover>input {
    opacity: 0.04;
}

.cl-switch>input:focus {
    opacity: 0.12;
}

.cl-switch:hover>input:focus {
    opacity: 0.16;
}

/* Active */
.cl-switch>input:active {
    opacity: 1;
    transform: scale(0);
    transition: transform 0s, opacity 0s;
}

.cl-switch>input:active+span::before {
    background-color: #8f8f8f;
}

.cl-switch>input:checked:active+span::before {
    background-color: var(--text);
}

/* Disabled */
.cl-switch>input:disabled {
    opacity: 0;
}

.cl-switch>input:disabled+span::before {
    background-color: #ddd;
}

.cl-switch>input:checked:disabled+span::before,
.cl-switch>input:checked:disabled+span::after {
    background-color: var(--text);
}

@media (max-width: 500px), (max-height: 780px) {

    .gender-select {
        margin: 14px 16px 0 16px;
    }
}