<div class="login__box">

    <div class="login__switch-authorization-method">
        <p class="login__switch-authorization-method__active">Вход в аккаунт</p>
        <p class="login__switch-authorization-method__passive">Создание ящика</p>
    </div>

    <div class="login__input-group login__input_group__email">
        <label for="email">Имя ящика</label>
        <input type="email" id="login__input-email" placeholder="ivanovivan@mail.ru">
        <p id="login__input__error-email">Ошибка</p>

    </div>

    <div class="login__input-group login__input_group__password">
        <label for="password">Пароль</label>
        <input type="password" id="login__input-password" placeholder="●●●●●●●●">
        <p id="login__input__error-password">Ошибка</p>
    </div>

    <div class="login__button-group">
        <div class="login__button">
            <input type="button" value="Войти">
        </div>
        <p id="login__button_error">Ошибка</p>
    </div>

</div>