<div class="login-container">

    <div class="login-container__sign">
        <div class="login-container__obertka">
            <div class="login-container__current">
                <span>Вход в аккаунт</span>
            </div>
            <div class="login-container__signup-ref">
                <span>Создание ящика</span>
            </div>
        </div>
    </div>
    <form action="" class="login-container__form">
        <div class="login-container__email">
            <label class="login-container__label" for="email">
                Имя ящика
            </label>
            <input class="login-container__input" type="email" placeholder="Email" id="email">
            <div class="login-container__error-email">Ошибка на нашей стороне. Уже исправляем!</div>
        </div>
        <div class="login-container__password">
            <label class="login-container__label" for="password">
                Пароль
            </label>
            <input class="login-container__input" type="password" placeholder="Пароль" id="password">
            <div class="login-container__error-password">Ошибка на нашей стороне. Уже исправляем!</div>
        </div>
        <div class="login-container__login">
            <div id="loginBtn" class="login-container__login-btn" type="submit">Войти</div>
        </div>
        <div class="login-container__error-sign">Ошибка на нашей стороне. Уже исправляем!</div>
    </form>

</div>