<div class="login-container">

    <h1 class="login-container__sign">Вход</h1>
    <form action="" class="login-container__form">
        <div class="login-container__error-sign">Ошибка! Неверный логин или пароль!</div>
        <label class="login-container__label" for="email">
            Email
        </label>
        <input class="login-container__input" type="email" placeholder="Email" id="email">
        <label class="login-container__label" for="" password>
            Пароль
        </label>
        <input class="login-container__input" type="password" placeholder="Пароль" id="password">

        <button id="loginBtn" class="login-container__login-btn" type="submit">Войти</button>

        <a class="login-container__signup-ref" href="#">Зарегистрироваться</a>
        <a class="login-container__restore-ref" href="#">Восстановить</a>

    </form>

</div>