<div class="login-container">

    <h1>Вход</h1>
    <form action="">
        <p class="login-container__error-sign">Ошибка! Неверный логин или пароль!</p>
        <label>
            <input class="login-container__input" type="email" placeholder="Email">
        </label>
        <label>
            <input class="login-container__input" type="password" placeholder="Пароль">
        </label>

        <button id="loginBtn" class="login-container__login-btn" type="submit">Войти</button>

        <a class="login-container__signup-ref" href="#">Зарегестрироваться</a>
        <a class="login-container__restore-ref" href="#">Восстановить</a>

    </form>

</div>