.login__box {
    grid-area: login-box;

    display: grid;
    grid-template-rows: repeat(4, auto);

    padding: 32px 16px 6px 16px;

    max-height: 764px;
    width: 392px;

    background-color: var(--box-background);
    border-radius: 8px;
}

.login__switch-authorization-method {

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2px;

    margin: 0 16px 40px 16px;
    padding: 2px;

    height: 44px;

    background-color: var(--input-background);
    border-radius: 10px;

    p {
        display: grid;
        place-items: center;

        border-radius: 8px;

        font-size: 15px;
        font-weight: 500;
        letter-spacing: 0;
        line-height: 20px;
    }
}

.login__switch-authorization-method__active {
    background-color: var(--secondary-button-onhover-selected);
}

.login__switch-authorization-method__passive {
    color: var(--input-placeholder);

    cursor: pointer;
}

.login__switch-authorization-method__passive:active {
    transform: scale(0.99);
}


.login__email__input-group,
.login__password__input-group {
    display: grid;
    grid-template-areas:
        'label'
        'input'
        'error';
    grid-row-gap: 2px;
}

.login__email__input-group,
.login__password__input-group {
    padding: 2px 16px 0 16px;
}

.login__email__input-group label,
.login__password__input-group label {
    grid-area: label;

    margin-top: 2px;

    color: var(--input-label-counter-icon);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 18px;
}

.login__email__input {
    grid-area: input;

    padding: 12px;

    background-color: var(--input-background);
    border-radius: 8px;

    color: var(--text);
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 20px;
}

.login__password__input {
    grid-area: input;

    padding: 12px;

    height: 44px;
    width: 328px;

    background-color: var(--input-background);
    border-radius: 8px;

    color: var(--text);
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 20px;
}

.login__email__input::placeholder,
.login__password__input::placeholder {
    color: var(--input-placeholder);
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 20px;
}

.login__email__input:focus,
.login__password__input:focus {
    outline: none;
}

.login__email__error,
.login__password__error,
.login__button__error {
    grid-area: error;

    color: var(--negative);
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 18px;

    visibility: hidden;

    overflow-wrap: anywhere;
}

.login__button-group {
    display: grid;
    grid-template-areas:
        'button'
        'error';

    margin-top: 26px;
    padding: 0 16px 0 16px;

    text-align: center;
}

.login__button {
    grid-area: button;

    margin-bottom: 8px;
    padding: 10px 16px 10px 16px;

    height: 36px;

    background-color: white;
    border-radius: 8px;

    color: var(--main-button-secondary);
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 20px;

    cursor: pointer;
}

.login__button:hover {
    background-color: var(--main-button-hover);
    input {
        background-color: var(--main-button-hover);
    }
}

.login__button:active {
    transform: scale(0.99);
}

.login__button input {
    background-color: white;

    color: var(--main-button-secondary);
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 20px;

    cursor: pointer;
}