<div class="login-box">
    <h1>Log in</h1>
    <form action="">
        <input class="login-box__input" type="email" placeholder="Email">
        <input class="login-box__input" type="password" placeholder="Password">
        <div>
            <button class="login-box__login-btn" type="submit">Log in</button>
        </div>


        <div class="login-box__refs">
            <a href="#">Sign up</a>
            <a href="#">Restore password</a>
        </div>
    </form>
</div>