.login-container {
    background-color: #101419;

    text-align: center;

    width: 300px;
    border: solid 1px #30363d;
    border-radius: 30px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2);
}

.login-container__input {
    width: 70%;
    border-radius: 20px;
    padding: 12px 20px;
    margin: 8px 0;
    background-color: #e6edf3;
}

.login-container__login-btn {

    font-size: 16px;
    background-color: #1079ea;
    border-radius: 40px;
    border-width: 1px;
    color: #e6edf3;
    padding: 15px 25px;
    margin: 25px 0 25px;

    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-container__login-btn:hover {
    background-color: #1262b7;
}

.login-container__signup-ref {
    display: block;

    font-size: 14px;
    color: #e6edf3;
    text-decoration: none;
    margin-bottom: 12px;
}

.login-container__restore-ref {
    display: block;

    font-size: 14px;
    color: #e6edf3;
    text-decoration: none;
    margin-bottom: 12px;
}

.login-container__error-sign {
    display: none;
    color:#a54343;
    padding: 5px;
}

.login-container__error-sign_show {
    display: block;
}