<div class="login__box">

    <div class="login__switch-authorization-method">
        <p class="login__switch-authorization-method__active">Вход в аккаунт</p>
        <p class="login__switch-authorization-method__passive">Создание ящика</p>
    </div>


    <div class="login__email__input-group">
        <label>Имя ящика</label>
        <input type="email" class="login__email__input" placeholder="ivanovivan@mail.ru">
        <p class="login__email__error">Ошибка</p>
    </div>

    <div class="login__password__input-group">
        <label>Пароль</label>
        <input type="password" class="login__password__input" placeholder="●●●●●●●●">
        <p class="login__password__error">Ошибка</p>
    </div>

    <div class="login__button-group">
        <div class="login__button">
            <input type="button" value="Войти">
        </div>
        <p class="login__button__error">Ошибка</p>
    </div>

</div>