<div class="list-letters">
    {{#if list_letters}}
    {{#each list_letters}}
    {{{this}}}
    {{/each}}
    {{else}}
    <div class="list-letters_empty-banner">
        <p>Список писем пуст</p>
    </div>
    {{/if}}
</div>