.list-letters {
    display: grid;
    grid-template-rows: repeat(auto-fit, auto);
    /* max-height: 500px; */
    align-content: start;
    overflow: auto;
}

.list-letters_empty {
    padding: 20px 0;
    text-align: center;
}

.list-letters::-webkit-scrollbar {
    width: 6px;
}

.list-letters::-webkit-scrollbar-track {
    background-color: transparent;
}

.list-letters::-webkit-scrollbar-thumb {
    background-color: var(--input-label-counter-icon);
    border-radius: 12px;
}