.list-letters {
    display: grid;
    grid-template-rows: repeat(auto-fit, auto);
    align-content: start;
    overflow-y: auto;
}

.list-letters::-webkit-scrollbar {
    width: 4px;
}

.list-letters::-webkit-scrollbar-track {
    background-color: transparent;
}

.list-letters::-webkit-scrollbar-thumb {
    background-color: var(--input-label-counter-icon);
    border-radius: 12px;
}

.list-letters_empty {
    display: grid;
    place-items: center;
    height: 48px;
}