.profile__root {
    display: grid;
    grid-template-areas:
        'header header header'
        'menu content .';
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: auto 1fr;
    justify-content: left;
    align-content: start;

    background-color: black;

    height: 100%;
}


.profile__content__wrapper {
    grid-area: content;
    display: grid;
    justify-content: center;

}

.profile__content {
    display: grid;
    grid-template-rows: auto auto;

    width: fit-content;
    height: fit-content;

    background-color: var(--box-background);
    border-radius: 8px;
}

.profile__content__header {
    padding: 20px 32px 20px 32px;

    text-align: left;

    p {
        color: var(--text);
        font-size: 24px;
        font-weight: 500;
        letter-spacing: 0;
        line-height: 28px;
    }
}

.profile__content__form {
    display: grid;

    padding: 0 16px 6px 16px;
    grid-template-rows: repeat(5, auto);
}

.profile__content__form__first-middle-names__block,
.profile__content__form__bio-phone-number__block,
.profile__content__form__password-password-confirm__block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    align-items: start;
}

.profile__content__form__first-name__input-group,
.profile__content__form__middle-name__input-group,
.profile__content__form__last-name__input-group,
.profile__content__form__bio__input-group,
.profile__content__form__phone-number__input-group,
.profile__content__form__password__input-group,
.profile__content__form__password-confirm__input-group {
    display: grid;
    grid-template-areas:
        'label'
        'input'
        'error';
    grid-row-gap: 2px;

    label {
        grid-area: label;

        margin-top: 2px;

        color: var(--input-label-counter-icon);
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0;
        line-height: 18px;
    }
}

.profile__content__form__first-name__input-group,
.profile__content__form__middle-name__input-group,
.profile__content__form__last-name__input-group,
.profile__content__form__bio__input-group,
.profile__content__form__phone-number__input-group {
    padding: 18px 16px 0 16px;

}

.profile__content__form__password__input-group,
.profile__content__form__password-confirm__input-group {
    padding: 2px 16px 0 16px;
}

.profile__content__form__first-name__input,
.profile__content__form__middle-name__input,
.profile__content__form__last-name__input,
.profile__content__form__bio__input,
.profile__content__form__phone-number__input {
    grid-area: input;

    padding: 12px;

    background-color: var(--input-background);
    border-radius: 8px;

    color: var(--text);
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 20px;

    box-sizing: border-box;

    width: 100%;
}

.profile__content__form__password__input,
.profile__content__form__password-confirm__input {
    grid-area: input;

    padding: 12px;

    height: 44px;
    width: 328px;

    background-color: var(--input-background);
    border-radius: 8px;

    color: var(--text);
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 20px;
}


.profile__content__form__first-name__input::placeholder,
.profile__content__form__middle-name__input::placeholder,
.profile__content__form__last-name__input::placeholder,
.profile__content__form__bio__input::placeholder,
.profile__content__form__phone-number__input::placeholder,
.profile__content__form__password__input::placeholder,
.profile__content__form__password-confirm__input::placeholder {
    color: var(--input-placeholder);
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 20px;
}

.profile__content__form__first-name__input:focus,
.profile__content__form__middle-name__input:focus,
.profile__content__form__last-name__input:focus,
.profile__content__form__bio__input:focus,
.profile__content__form__phone-number__input:focus,
.profile__content__form__password__input:focus,
.profile__content__form__password-confirm__input:focus {
    outline: none;
}

.profile__content__form__first-name__error,
.profile__content__form__middle-name__error,
.profile__content__form__last-name__error,
.profile__content__form__bio__error,
.profile__content__form__phone-number__error,
.profile__content__form__password__error,
.profile__content__form__password-confirm__error,
.profile__content__form__save__button__error {
    grid-area: error;

    color: var(--negative);
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 18px;

    visibility: hidden;

    overflow-wrap: anywhere;
}

.profile__content__form__avatar-birthday-gender-last-name__block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

.profile__content__form__birthday-gender-last-name-group {
    display: grid;
    grid-template-rows: repeat(3, auto);
}


.profile__content__form__birthday__input-group {

    display: grid;
    grid-template-rows: auto, auto;
    grid-row-gap: 2px;

    padding: 2px 16px 0 16px;

    label {
        margin-top: 2px;

        color: var(--input-label-counter-icon);
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0;
        line-height: 18px;
    }
}


.profile__content__form__birthday__input-block {
    display: grid;
    grid-template-columns: repeat(3, auto);

    justify-content: space-between;

}

.profile__content__form__birthday__input__day,
.profile__content__form__birthday__input__month,
.profile__content__form__birthday__input__year {
    display: grid;
    grid-row: auto auto;

    position: relative;

    width: fit-content;

    background-color: var(--input-background);


    color: var(--text);
    border-radius: 8px;

    cursor: pointer;

    p {
        align-content: center;
        padding-left: 12px;
    }
}

.profile__content__form__birthday__input__day__value-img,
.profile__content__form__birthday__input__month__value-img,
.profile__content__form__birthday__input__year__value-img {
    height: 44px;
    display: grid;
    grid-template-columns: auto 48px;
    align-content: center;
}

.profile__content__form__birthday__input__day__value-img p {
    width: 30px;
}

.profile__content__form__birthday__input__month__value-img p {
    width: 84px;
}

.profile__content__form__birthday__input__year__value-img p {
    width: 48px;
}

.dropdown__wrapper__day,
.dropdown__wrapper__month,
.dropdown__wrapper__year {
    position: absolute;
    padding-left: 0;
    left: 0;
    background: var(--input-background);
    border-radius: 8px;
    z-index: 1;

    padding-top: 12px;
    padding-right: 2px;

    max-height: 168px;
    overflow: hidden;

    box-shadow: 0px 3px 5px -1px var(--box-background);

    color: var(--text);
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 20px;

    margin-top: 32px;
}

.show__dropdown__wrapper {
    visibility: visible;
    opacity: 1;
    display: block;
}

.hide__dropdown__wrapper {
    visibility: hidden;
    opacity: 0;
    display: none;
}

.dropdown__wrapper__day {
    min-width: 78px;
}

.dropdown__wrapper__month {
    min-width: 132px;
}

.dropdown__wrapper__year {
    min-width: 96px;
}

.dropdown__day,
.dropdown__month,
.dropdown__year {
    max-height: 168px;
    overflow: auto;
}

.dropdown__day::-webkit-scrollbar,
.dropdown__month::-webkit-scrollbar,
.dropdown__year::-webkit-scrollbar {
    width: 8px;
    height: 168px;
}

.dropdown__day::-webkit-scrollbar-track,
.dropdown__month::-webkit-scrollbar-track,
.dropdown__year::-webkit-scrollbar-track {
    background-color: transparent;
}

.dropdown__day::-webkit-scrollbar-thumb,
.dropdown__month::-webkit-scrollbar-thumb,
.dropdown__year::-webkit-scrollbar-thumb {
    height: 36px;
    background-color: var(--input-label-counter-icon);
    border-radius: 12px;
}

.dropdown__wrapper__day p,
.dropdown__wrapper__month p,
.dropdown__wrapper__year p {
    padding: 8px 12px 8px 12px;

    clear: both;
    width: 100%;
    text-align: left;
    border-style: none;

    transition: all 0.1s ease;
}

.dropdown__wrapper__day p:hover,
.dropdown__wrapper__month p:hover,
.dropdown__wrapper__year p:hover {
    background-color: var(--secondary-button-onhover-selected);
    border-radius: 8px;
}



.profile__content__form__gender__select-group {

    display: grid;
    grid-template-rows: auto auto;
    grid-row-gap: 2px;

    padding: 20px 16px 0 16px;
}

.profile__content__form__gender__select__label {
    margin-top: 2px;

    color: var(--input-label-counter-icon);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 18px;
}

.profile__content__form__gender__select {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: start;
    grid-column-gap: 15px;

    padding: 0 12px 0 12px;
}

.profile__content__form__gender__select__passive {
    color: var(--input-placeholder);
}

.cl-toggle-switch {
    position: relative;

    height: 20px;
    width: 38px;
}

.cl-switch {
    position: relative;
    display: inline-block;

    height: 100%;
    width: 100%;
}

/* Input */
.cl-switch>input {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    z-index: -1;
    position: absolute;
    right: 3px;
    top: -8px;
    display: block;
    margin: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: rgb(0, 0, 0, 0.38);
    outline: none;
    opacity: 0;
    transform: scale(1);
    pointer-events: none;
    transition: opacity 0.3s 0.1s, transform 0.2s 0.1s;
}

/* Track */
.cl-switch>span::before {
    content: "";
    float: right;
    display: inline-block;
    margin: 5px 0 5px 10px;
    border-radius: 7px;
    width: 32px;
    height: 12px;
    background-color: rgb(238, 238, 238, 0.8);
    vertical-align: top;
    transition: background-color 0.2s, opacity 0.2s;
}

/* Thumb */
.cl-switch>span::after {
    content: "";
    position: absolute;
    top: 2px;
    right: 14px;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    background-color: var(--text);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    transition: background-color 0.2s, transform 0.2s;
}

/* Checked */
.cl-switch>input:checked {
    right: -10px;
    background-color: black;
}

.cl-switch>input:checked+span::before {
    background-color: rgb(238, 238, 238, 0.8);
}

.cl-switch>input:checked+span::after {
    background-color: var(--text);
    transform: translateX(16px);
}

/* Hover, Focus */
.cl-switch:hover>input {
    opacity: 0.04;
}

.cl-switch>input:focus {
    opacity: 0.12;
}

.cl-switch:hover>input:focus {
    opacity: 0.16;
}

/* Active */
.cl-switch>input:active {
    opacity: 1;
    transform: scale(0);
    transition: transform 0s, opacity 0s;
}

.cl-switch>input:active+span::before {
    background-color: #8f8f8f;
}

.cl-switch>input:checked:active+span::before {
    background-color: var(--text);
}

/* Disabled */
.cl-switch>input:disabled {
    opacity: 0;
}

.cl-switch>input:disabled+span::before {
    background-color: #ddd;
}

.cl-switch>input:checked:disabled+span::before {
    background-color: var(--text);
}

.cl-switch>input:checked:disabled+span::after {
    background-color: var(--text);
}


.profile__content__form__avatar-group {
    display: grid;
    grid-template-rows: repeat(2, auto);
    justify-content: center;
    justify-items: center;
    align-content: space-between;

    padding-top: 18px;
}


.profile__content__form__load-avatar__button {

    padding: 10px 14px 10px 14px;

    height: 36px;
    width: fit-content;

    background-color: transparent;
    border-radius: 8px;

    text-align: center;

    cursor: pointer;

    transition: all 0.1s ease;
    outline: none;


    input {
        background-color: transparent;

        color: var(--text);
        font-size: 15px;
        font-weight: 500;
        letter-spacing: 0;
        line-height: 20px;

        cursor: pointer;
    }
}

.profile__content__form__load-avatar__button:hover {
    background-color: var(--secondary-button-onhover-selected)
}

.profile__content__form__load-avatar__button:active {
    transform: scale(0.99);
}

.profile__content__form__save__button-group {
    display: grid;
    grid-template-areas:
        'button'
        'error';

    margin-top: 26px;
    padding: 0 16px 0 16px;

    text-align: center;
}

.profile__content__form__save__button {
    grid-area: button;

    margin-bottom: 8px;
    padding: 10px 16px 10px 16px;

    height: 36px;

    background-color: white;
    border-radius: 8px;

    color: var(--main-button-secondary);
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 20px;

    cursor: pointer;
}

.profile__content__form__save__button:hover {
    background-color: var(--main-button-hover);

    input {
        background-color: var(--main-button-hover);
    }
}

.profile__content__form__save__button:active {
    transform: scale(0.99);
}

.profile__content__form__save__button input {
    background-color: white;

    color: var(--main-button-secondary);
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 20px;

    cursor: pointer;
}