<div class="profile__root">
    {{{header}}}
    {{{menu}}}
    <div class="profile__content__wrapper">
        <div class="profile__content">
            <div class="profile__content__header">
                <p>Личные данные</p>
            </div>
            <div class="profile__content__form">
                <div class="profile__content__form__first-middle-names__block">
                    <div class="profile__content__form__first-name__input-group">
                        <label>Имя</label>
                        <input type="text" class="profile__content__form__first-name__input" placeholder="Иван">
                        <p class="profile__content__form__first-name__error">Ошибка</p>
                    </div>
                    <div class="profile__content__form__middle-name__input-group">
                        <label>Отчество</label>
                        <input type="text" class="profile__content__form__middle-name__input" placeholder="Иванович">
                        <p class="profile__content__form__middle-name__error">Ошибка</p>
                    </div>
                </div>
                <div class="profile__content__form__avatar-birthday-gender-last-name__block">
                    <div class="profile__content__form__birthday-gender-last-name-group">
                        <div class="profile__content__form__last-name__input-group">
                            <label>Фамилия</label>
                            <input type="text" class="profile__content__form__last-name__input" placeholder="Иванов">
                            <p class="profile__content__form__last-name__error">Ошибка</p>
                        </div>
                        <div class="profile__content__form__birthday__input-group">
                            <label>Дата рождения</label>
                            {{{birthday_select}}}
                        </div>


                        <div class="profile__content__form__gender__select-group">
                            <label class="profile__content__form__gender__select__label">Пол</label>
                            <div class="profile__content__form__gender__select">
                                <p class="profile__content__form__gender__select__male">Мужской</p>
                                <div class="cl-toggle-switch">
                                    <label class="cl-switch">
                                        <input type="checkbox">
                                        <span></span>
                                    </label>
                                </div>
                                <p
                                    class="profile__content__form__gender__select__female profile__content__form__gender__select__passive">
                                    Женский</p>
                            </div>
                        </div>

                    </div>
                    <div class="profile__content__form__avatar-group">
                        <div>
                            <img src="../../static/img/avatat_166_166.svg" alt="">
                        </div>
                        <div class="profile__content__form__load-avatar__button">
                            <input type="button" value="Загрузить фото">
                        </div>
                    </div>

                </div>
                <div class="profile__content__form__bio-phone-number__block">
                    <div class="profile__content__form__bio__input-group">
                        <label>О себе</label>
                        <input type="text" class="profile__content__form__bio__input" placeholder="Веб-разработчик">
                        <p class="profile__content__form__bio__error">Ошибка</p>
                    </div>
                    <div class="profile__content__form__phone-number__input-group">
                        <label>Номер телефона</label>
                        <input type="text" class="profile__content__form__phone-number__input"
                            placeholder="88001234567">
                        <p class="profile__content__form__phone-number__error">Ошибка</p>
                    </div>
                </div>
                <div class="profile__content__form__password-password-confirm__block">
                    <div class="profile__content__form__password__input-group">
                        <label>Новый пароль</label>
                        <input type="password" class="profile__content__form__password__input" placeholder="●●●●●●●●">
                        <p class="profile__content__form__password__error">Ошибка</p>
                    </div>
                    <div class="profile__content__form__password-confirm__input-group">
                        <label>Новый пароль ещё раз</label>
                        <input type="password" class="profile__content__form__password-confirm__input"
                            placeholder="●●●●●●●●">
                        <p class="profile__content__form__password-confirm__error">Ошибка</p>
                    </div>
                </div>


                <div class="profile__content__form__save__button-group">
                    <div class="profile__content__form__save__button">
                        <input type="button" value="Сохранить">
                    </div>
                    <p class="profile__content__form__save__button__error">Ошибка</p>
                </div>
            </div>
        </div>
    </div>
</div>