.stat-root {
    display: grid;
    grid-template-areas:
        'header header'
        'menu content';
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;

    height: 100%;
}

.stat-content {
    grid-area: content;
    align-content: start;

    display: grid;
    grid-template-rows: repeat(3, auto);
    overflow: auto;
    border-radius: 8px;
    margin: 0 16px 2px 0;
    background-color: var(--box-background);
    padding: 8px;
}

