<div class="stat-root">
    {{{header}}}
    {{{menu}}}
    <div class="stat-content">
        <div id="stat-question-1" class="stat__question">Вопрос 1</div>
        <div id="stat-result-1" class="stat__result">4.51</div>
        <div id="stat-question-1" class="stat__question">Вопрос 2</div>
        <div id="stat-result-1" class="stat__result">4.51</div>
        <div id="stat-question-1" class="stat__question">Вопрос 3</div>
        <div id="stat-result-1" class="stat__result">4.51</div>
        <div id="stat-question-1" class="stat__question">Вопрос 4</div>
        <div id="stat-result-1" class="stat__result">4.51</div>
        <div id="stat-question-1" class="stat__question">Вопрос 5</div>
        <div id="stat-result-1" class="stat__result">4.51</div>
    </div>
</div>