<div class="signup-container">

    <h1>Регистрация</h1>
    <form action="">
        <label>
            <input class="signup-container__input" type="text" placeholder="Имя">
        </label>
        <label>
            <input class="signup-container__input" type="text" placeholder="Фамилия">

        </label>
        <label>
            <input class="signup-container__input" type="email" placeholder="Email">
        </label>
        <label>
            <input class="signup-container__input" type="password" placeholder="Пароль">
        </label>
        <label>
            <input class="signup-container__input" type="password" placeholder="Повторите пароль">
        </label>

        <button id="signupBtn" class="signup-container__signup-btn" type="submit">Зарегистрироваться</button>

        <a class="signup-container__login-ref" href="#">Уже есть аккаунт</a>
    </form>

</div>