.signup-container {
    background-color: #101419;

    display: grid;
    grid-template-areas: 'signup-container__sign'
    'signup-container__form';

    text-align: center;

    width: 350px;
    border: solid 1px #30363d;
    border-radius: 30px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2);
}

.signup-container__sign{
    margin-top: 15px;
}

.signup-container__form{
    display: grid;
    grid-template-areas: 'signup-container__error-sign'
    'signup-container__label'
    'signup-container__input'
    'signup-container__label'
    'signup-container__input'
    'signup-container__label'
    'signup-container__input'
    'signup-container__label'
    'signup-container__input'
    'signup-container__label'
    'signup-container__input'
    'signup-container__signup-btn'
    'signup-container__login-ref';
    row-gap: 10px;
    justify-items: center;
}

.signup-container__label {
    justify-self: start;
    margin: 1px 15%;
}

.signup-container__input {
    width: 70%;
    border-radius: 40px;
    padding: 12px 20px;
    background-color: #e6edf3;
}

.signup-container__signup-btn {
    justify-self: center;
    width:75%;
    font-size: 16px;
    background-color: #1079ea;
    border-radius: 40px;
    border-width: 1px;
    color: #e6edf3;
    padding: 15px 25px;
    margin: 20px 0 20px;
    text-align: center;

    cursor: pointer;
    transition: background-color 0.3s ease;
}

.signup-container__signup-btn:hover {
    background-color: #1262b7;
}

.signup-container__login-ref {
    display: block;

    font-size: 14px;
    color: #e6edf3;
    text-decoration: none;
    margin-bottom: 12px;
}



.signup-container__error-sign {
    visibility: hidden;
    color:#a54343;
    padding: 0 5px;
    height:40px;
}

.signup-container__error-sign_show {
    visibility: visible;
}