<div class="signup-box">

    <div class="signup-box__authorization-method-switch">
        <div
            class="signup-box__authorization-method-switch__method signup-box__authorization-method-switch__method_passive">
            Вход в аккаунт
        </div>
        <div
            class="signup-box__authorization-method-switch__method signup-box__authorization-method-switch__method_active">
            Создание ящика
        </div>
    </div>

    <div class="signup-box__first-name-input-wrapper">
        <label>Имя</label>
        <input type="text" class="signup-box__first-name-input-wrapper__input" placeholder="Иван">
        <div id="first-name-error" class="signup-box__error">Ошибка</div>
    </div>

    <div class="signup-box__last-name-input-wrapper">
        <label>Фамилия</label>
        <input type="text" class="signup-box__last-name-input-wrapper__input" placeholder="Иванов">
        <div id="last-name-error" class="signup-box__error">Ошибка</div>
    </div>



    {{{birthday_select}}}

    {{{gender_select}}}

    <div class="signup-box__email-input-wrapper">
        <label>Имя ящика</label>
        <input type="text" class="signup-box__email-input-wrapper__email-input" placeholder="ivanovii">
        <input type="text" class="signup-box__email-input-wrapper__email-domain-input" value="@mailhub.su" readonly>
        <div id="email-error" class="signup-box__error">Ошибка</div>
    </div>

    <div class="signup-box__password-input-wrapper">
        <label>Пароль</label>
        <input type="password" class="signup-box__password-input-wrapper__input" placeholder="●●●●●●●●">
        <div id="password-error" class="signup-box__error">Ошибка</div>
    </div>

    <div class="signup-box__password-confirm-input-wrapper">
        <label>Пароль ещё раз</label>
        <input type="password" class="signup-box__password-confirm-input-wrapper__input"
            placeholder="●●●●●●●●">
        <div id="password-confirm-error" class="signup-box__error">Ошибка</div>
    </div>

    <div class="signup-box__signup-button-wrapper">
        <div class="signup-box__signup-button-wrapper__button">Создать</div>
        <div id="signup-error" class="signup-box__error">Ошибка</div>
    </div>
</div>