@import 'pages/login/login.css';
@import 'pages/signup/signup.css';
@import 'pages/profile/profile.css';
@import 'pages/letter/letter.css';
@import 'pages/write-letter/write-letter.css';
@import 'pages/sent/sent.css';
@import 'pages/main/main.css';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

:root {
    --background: black;
    --box-background: #191919;
    --main-button-secondary: #2d2d2d;
    --input-background: #323232;
    --mail-selected: #393939;
    --secondary-button-onhover-selected: #4b4b4b;
    --input-placeholder: #757575;
    --input-label-counter-icon: #808080;
    --text: #ededed;
    --main-button-hover: #ededed;
    --main-button: white;
    --vk: #0077ff;

    --negative: #ff4747;
    --error-input-placeholder: #522e2e;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    background-color: var(--background);
    font-family: Roboto;
    color: var(--text);
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0;
}

#root {
    position: relative;
    height: 100vh;
}

input:-webkit-autofill,
input:autofill {
    filter: invert(1);
    filter: brightness(86%) grayscale(100%) invert(1);
}


input {
    background-color: var(--input-background);
    color: var(--text);
}

input::placeholder {
    color: var(--input-placeholder);
}

label {
    color: var(--input-label-counter-icon);
}



.show {
    visibility: visible;
}

.appear {
    display: grid;
}

.remove {
    display: none;
}

.no-click {
    cursor: not-allowed;
}

.input-background-error {
    background-color: var(--error-input-placeholder);
}