body {
    font-family: Verdana, Geneva, sans-serif;
    background-color: black;
    color: aliceblue;
}

#root {
    display: grid;

    grid-template-areas: 
    "header header"
    "menu   content";

    grid-template-rows: 100px 1fr;
    grid-template-columns: 1fr 5fr;
    column-gap: 20px;
}

.header {
    grid-area: header;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.header__logo {
    margin-left: 20px;
    width: 1fr;
}

.header__search {
    flex: auto;
}

.header__settings {
    width: 1fr;
}

.header__profile {
    margin-right: 20px;
    width: 1fr;
}

.menu {
    background-color: #01012e;
    border: 2px solid #01012e;
    border-radius: 8px;
    grid-area: menu;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.menu__btn {
    padding: 5px;
    display: grid;
    background-color: #210652;
    border: 2px solid #190341;
    border-radius: 8px;
}

.content {
    grid-area: content;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
    padding: 20px;
    background-color: #01012e;
    border: 2px solid #01012e;
    border-radius: 8px;
}

.list-letter {
    height: 75px;
    padding: 5px;
    display: grid;
    background-color: #210652;
    border: 2px solid #190341;
    border-radius: 25px;

    grid-template-areas: 
    "list-letter__img   list-letter__title"
    "list-letter__img   list-letter__text";

    grid-template-columns: min-content 1fr;
    grid-template-rows: 2fr 3fr;
    row-gap: 10px;
    column-gap: 10px;
}

.list-letter__img {
    grid-area: list-letter__img;

    width: 75px;
    height: 75px;
    border: 1px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-letter__title {
    font-size: 120%;
    font-weight: 300;
}