<div class="survey">
    <div class="survey__question">
        Любите мороженое?
    </div>
    <div class="survey__rating-buttons">
        <img id="rating-1" class="survey__rating-buttons__button"></img>
        <img id="rating-2" class="survey__rating-buttons__button"></img>
        <img id="rating-3" class="survey__rating-buttons__button"></img>
        <img id="rating-4" class="survey__rating-buttons__button"></img>
        <img id="rating-5" class="survey__rating-buttons__button"></img>
    </div>
    <div class="survey__rating-grades">
        <div class="survey__rating-grades__min">
            Ненавижу
        </div>
        <div class="survey__rating-grades__min">
            Обожаю
        </div>
    </div>
    <div class="survey__button">Отправить</div>
</div>