<div class="survey">
    <img src="/icons/close.svg" class="survey__close-button">
    <div class="survey__question">
        Любите мороженое?
    </div>
    <div class="survey__rating-buttons">
        <img id="rating-1" src="/icons/rating-star.svg" class="survey__rating-buttons__button">
        <img id="rating-2" src="/icons/rating-star.svg" class="survey__rating-buttons__button">
        <img id="rating-3" src="/icons/rating-star.svg" class="survey__rating-buttons__button">
        <img id="rating-4" src="/icons/rating-star.svg" class="survey__rating-buttons__button">
        <img id="rating-5" src="/icons/rating-star.svg" class="survey__rating-buttons__button">
    </div>
    <div class="survey__min-rating-grad">
        Ненавижу
    </div>
    <div class="survey__max-rating-grad">
        Обожаю
    </div>
    <div class="survey__send-button">Отправить</div>
</div>