<div class="survey__control-buttons">
<img src="/icons/close.svg" class="survey__collapse-button">
<img src="/icons/close.svg" class="survey__close-button">

</div>
<div class="survey">
    <div class="survey__question">
        Любите мороженое?
    </div>
    <div class="survey__rating-buttons">
        <img id="rating-1" src="/icons/rating-star-off.svg" class="survey__rating-buttons__button">
        <img id="rating-2" src="/icons/rating-star-off.svg" class="survey__rating-buttons__button">
        <img id="rating-3" src="/icons/rating-star-off.svg" class="survey__rating-buttons__button">
        <img id="rating-4" src="/icons/rating-star-off.svg" class="survey__rating-buttons__button">
        <img id="rating-5" src="/icons/rating-star-off.svg" class="survey__rating-buttons__button">
    </div>
    <div class="survey__min-rating-grad">
        Ненавижу
    </div>
    <div class="survey__max-rating-grad">
        Обожаю
    </div>
    <div class="survey__send-button">Отправить</div>
</div>