@import '../../components/login-box/login-box.css';

.login-root {
    display: grid;
    place-content: center;
    height: 100%;
}

.login-wrapper {
    display: grid;
    grid-template-areas:
        'logo login-box .';
    grid-template-columns: 1fr auto 1fr;
}

.login-logo {
    grid-area: logo;

    writing-mode: vertical-rl;
    transform: rotate(180deg);

    font-size: 60px;
    font-weight: 900;
    letter-spacing: 15px;
    line-height: 68px;
    text-align: center;

    cursor: default;
}