@import '../../components/header/header.css';
@import '../../components/menu/menu.css';
@import '../../components/list-letter/list-letter.css';
@import '../../components/list-letters/list-letters.css';

.content {
    grid-area: content;
    display: grid;
    align-items: stretch;
    gap: 15px;
    padding: 20px;
    background-color: #01012e;
    border: 2px solid #01012e;
    border-radius: 8px;
}
