@import '../../components/header/header.css';
@import '../../components/menu/menu.css';
@import '../../components/list-letter/list-letter.css';
@import '../../components/list-letters/list-letters.css';


.main__root {
    display: grid;
    grid-template-areas:
        'header header'
        'menu content';
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    justify-content: left;
    align-content: start;

    background-color: black;

    height: 100%;
}


.main__content__wrapper {
    grid-area: content;
}

.main__content {
    display: grid;
    grid-template-rows: auto auto;
    gap: 2px;

    margin-right: 16px;

    background-color: var(--box-background);
    border-radius: 8px;
}

.main__content__header {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, auto));
    justify-content: start;
    padding: 8px;
}

.main__content__header__button {
    padding: 4px 16px;
    height: 30px;
    align-content: center;
    background-color: transparent;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.1s ease;
}

.main__content__header__button-icon {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 6px;
    padding: 4px 16px 4px 12px;
    align-content: center;
    background-color: transparent;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.1s ease;
}

.main__content__header__button-icon-span {
    display: grid;
    grid-template-columns: repeat(3, auto);
    padding: 4px 16px 4px 12px;
    align-content: center;
    background-color: transparent;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.1s ease;

    span {
        padding: 0 10px 0 6px;

        color: var(--text);
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0;
        line-height: 20px;

        cursor: pointer;
        transition: all 0.1s ease;
    }

}

.main__content__header__button-input {
    background-color: transparent;

    color: var(--text);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 18px;

    cursor: pointer;
    transition: all 0.1s ease;
}

.main__content__header__button:hover,
.main__content__header__button-icon:hover,
.main__content__header__button-icon-span:hover {
    background-color: var(--main-button-secondary)
}

.main__content__header__button:active,
.main__content__header__button-icon:active,
.main__content__header__button-icon-span:active {
    transform: scale(0.99);
}


.main__content__body {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(0, auto));
    overflow: auto;
}

.main__content__body::-webkit-scrollbar {
    width: 6px;
}

.main__content__body::-webkit-scrollbar-track {
    background-color: transparent;
}

.main__content__body::-webkit-scrollbar-thumb {
    background-color: var(--input-label-counter-icon);
    border-radius: 12px;
}