<div class="main-root">
    {{{header}}}
    {{{menu}}}
    <div class="main-content">
        <div class="main__header">
            <div id="select-all" class="main__header__button_has-icon appear">
                <img src="../../static/icons/read_off.svg" alt="">
                <span id="unselected-letters-counter" class="main__header__button_has-icon__text">Выделить
                    все</span>
            </div>
            <div id="mark-all-as-read" class="main__header__button appear">Отметить все прочитанными
            </div>


            <div id="deselect" class="main__header__button_has-icon-counter">
                <img src="../../static/icons/done.svg" alt="">
                <span id="selected-letters-counter" class="main__header__button_has-icon-counter__counter"></span>
                <span class="main__header__button_has-icon-counter__text">Снять выделение</span>
            </div>
            <div id="delete" class="main__header__button">Удалить
            </div>
            {{!-- <div id="move-to" class="main__header__button">В папку
            </div>
            <div id="spam" class="main__header__button">Спам
            </div> --}}
            <div id="mark-as-read" class="main__header__button ">Пометить прочитанными
            </div>
            <div id="mark-as-unread" class="main__header__button ">Пометить непрочитанными
            </div>

        </div>
            {{{list_letters}}}
    </div>
</div>