@import '../birthday-select/birthday-select.css';

.vk-signup-box {
    grid-area: signup-box;
    display: grid;
    grid-template-areas:
        'method-switch method-switch'
        'first-name last-name'
        'birthday birthday'
        'gender gender'
        'email email'
        'signup signup';
    grid-template-columns: repeat(2, 1fr);
    align-items: start;

    padding: 32px 16px 6px;
    max-height: 764px;
    width: 392px;

    background-color: var(--box-background);
    border-radius: 8px;
}

.vk-signup-box__authorization-method-switch {
    grid-area: method-switch;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2px;

    margin: 0 16px 24px 16px;
    padding: 2px;
    height: 44px;

    background-color: var(--input-background);
    border-radius: 10px;
}

.vk-signup-box__authorization-method-switch__method {
    display: grid;
    place-items: center;

    border-radius: 8px;

    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 20px;
}

.vk-signup-box__authorization-method-switch__method_active {
    background-color: var(--secondary-button-onhover-selected);
    transform: scale(1);
}

.vk-signup-box__authorization-method-switch__method_passive {
    color: var(--input-placeholder);
    cursor: pointer;
}

.vk-signup-box__authorization-method-switch__method_passive:active {
    transform: scale(0.99);
}

.vk-signup-box__first-name-input-wrapper {
    grid-area: first-name;
    display: grid;
    grid-template-areas:
        'label'
        'input'
        'error';
    grid-row-gap: 2px;
    margin: 2px 8px 0 16px;
}

.vk-signup-box__last-name-input-wrapper {
    grid-area: last-name;
    display: grid;
    grid-template-areas:
        'label'
        'input'
        'error';
    grid-row-gap: 2px;
    margin: 2px 16px 0 8px;
}

.vk-signup-box__first-name-input-wrapper label,
.vk-signup-box__last-name-input-wrapper label {
    grid-area: label;

    margin-top: 2px;

    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 18px;
}

.vk-signup-box__first-name-input-wrapper__input,
.vk-signup-box__last-name-input-wrapper__input {
    grid-area: input;

    padding: 12px;
    border-radius: 8px;

    font-size: 16px;
    letter-spacing: 0;
    font-weight: 400;
    line-height: 20px;

    transition: background-color 0.1s ease;
}

.vk-signup-box__first-name-input-wrapper__input::placeholder,
.vk-signup-box__last-name-input-wrapper__input::placeholder {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 20px;
}

.vk-signup-box__first-name-input-wrapper__input:focus,
.vk-signup-box__last-name-input-wrapper__input:focus {
    outline: none;
}


.vk-signup-box__first-name-input-wrapper__input,
.vk-signup-box__last-name-input-wrapper__input {
    box-sizing: border-box;
    width: 100%;
}


.vk-signup-box__email-input-wrapper {
    grid-area: email;
    display: grid;
    grid-template-areas:
        'label label'
        'email-input domain-input'
        'error error';
    grid-row-gap: 2px;
    margin: 18px 16px 0 16px;
}

.vk-signup-box__email-input-wrapper label {
    grid-area: label;

    margin-top: 2px;

    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 18px;
}

.vk-signup-box__email-input-wrapper__email-input,
.vk-signup-box__email-input-wrapper__email-domain-input {
    font-size: 16px;
    letter-spacing: 0;
    font-weight: 400;
    line-height: 20px;
    transition: background-color 0.1s ease;
}

.vk-signup-box__email-input-wrapper__email-input {
    grid-area: email-input;

    padding: 12px 2px 12px 12px;
    width: 220px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.vk-signup-box__email-input-wrapper__email-domain-input {
    grid-area: domain-input;

    padding: 12px 12px 12px 0;
    width: 108px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}


.vk-signup-box__email-input-wrapper__email-input::placeholder,
.vk-signup-box__email-input-wrapper__email-domain-input::placeholder {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 20px;
}

.vk-signup-box__email-input-wrapper__email-input:focus,
.vk-signup-box__email-input-wrapper__email-domain-input:focus {
    outline: none;
}


.vk-signup-box__error {
    grid-area: error;

    color: var(--negative);
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 18px;

    visibility: hidden;
    overflow-wrap: anywhere;
}

.vk-signup-box__signup-button-wrapper {
    grid-area: signup;

    display: grid;
    grid-template-areas:
        'vk'
        'error';
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    margin: 26px 16px 0 16px;

    text-align: center;
}

.vk-signup-box__signup-button-wrapper__vk-button {
    grid-area: vk;
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 10px 16px;
    height: 36px;

    background-color: var(--vk);
    border-radius: 8px;

    color: white;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 20px;

    cursor: pointer;
    transform: scale(1);
    transition: background-color 0.1s ease;
}

.vk-signup-box__signup-button-wrapper__vk-button:active {
    transform: scale(0.99);
}

@media (max-width: 500px), (max-height: 780px) {
    .vk-signup-box {
        padding: 16px 0 4px;
        max-height: 688px;
        width: 300px;
    }

    .vk-signup-box__authorization-method-switch {
        margin: 0 16px 22px 16px;
        padding: 2px;
        height: 40px;
    }

    .vk-signup-box__authorization-method-switch__method {
        font-size: 14px;
    }

    .vk-signup-box__first-name-input-wrapper {
        margin: 2px 8px 0 16px;
    }

    .vk-signup-box__last-name-input-wrapper {
        margin: 2px 16px 0 8px;
    }

    .vk-signup-box__first-name-input-wrapper label,
    .vk-signup-box__last-name-input-wrapper label {
        margin-top: 2px;
        font-size: 13px;
    }

    .vk-signup-box__first-name-input-wrapper__input,
    .vk-signup-box__last-name-input-wrapper__input {
        padding: 10px 12px;
        font-size: 15px;
    }

    .vk-signup-box__first-name-input-wrapper__input::placeholder,
    .vk-signup-box__last-name-input-wrapper__input::placeholder {
        font-size: 15px;
    }

    .vk-signup-box__email-input-wrapper {
        margin: 12px 16px 0 16px;
    }

    .vk-signup-box__email-input-wrapper label {
        margin-top: 2px;
        font-size: 13px;
    }

    .vk-signup-box__email-input-wrapper__email-input,
    .vk-signup-box__email-input-wrapper__email-domain-input {
        font-size: 15px;
    }

    .vk-signup-box__email-input-wrapper__email-input {
        padding: 10px 2px 10px 12px;
        width: 168px;
    }

    .vk-signup-box__email-input-wrapper__email-domain-input {
        padding: 10px 12px 10px 0;
        width: 100px;
    }


    .vk-signup-box__email-input-wrapper__email-input::placeholder,
    .vk-signup-box__email-input-wrapper__email-domain-input::placeholder {
        font-size: 15px;
    }

    

    .vk-signup-box__signup-button-wrapper {
        grid-row-gap: 8px;
        margin: 18px 16px 0 16px;
    }

    .vk-signup-box__signup-button-wrapper__vk-button {
        padding: 10px 16px;
        height: 32px;
        font-size: 14px;
    }
}