.not-found-root {
    position: relative;
    display: grid;
    grid-template-areas:
        'header header header'
        'menu content .';
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: auto 1fr;

    height: 100%;
}

.not-found-content {
    grid-area: content;

    align-self: center;
    height: 30vh;

    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 30px;
}


@media (max-width: 500px) {
    .not-found-root {
        grid-template-areas:
            'header'
            'content';
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, auto);
    }
}