<div class="write__letter__root">
    {{{header}}}
    {{{menu}}}
    <div class="write__letter__content__wrapper">
        <div class="write__letter__content">
            <div class="write__letter__content__header">
                <div class="write__letter__content__header__to">
                    <span class="write__letter__content__header__to__label">Кому</span>
                    <input type="text" class="write__letter__content__header__to__input" placeholder="ivanovii@mail.ru">
                    <p class="write__letter__content__header__to__error remove">Ошибка</p>
                </div>
                <div class="write__letter__content__header__subject">
                    <span class="write__letter__content__header__subject__label">Тема</span>
                    <input type="text" class="write__letter__content__header__subject__input" placeholder="О чём хотите написать?">
                    <p class="write__letter__content__header__subject__error remove">Ошибка</p>
                </div>
                <div class="write__letter__content__header__attachments">
                    <div class="write__letter__content__header__attachments__attach-button">
                        <input type="button" value="Прикрепить файл">
                    </div>
                    <div class="write__letter__content__header__attachments__view-button">
                        <input type="button" value="5 файлов">
                        <span>255 КБ</span>
                    </div>
                    <div class="write__letter__content__header__attachments__delete-all-button">
                        <input type="button" value="Удалить все">
                    </div>
                    <p class="write__letter__content__header__attachments__error remove">Ошибка</p>
                </div>
            </div>
            <div class="write__letter__content__text__wrapper">
                {{!-- <div class="write__letter__content__text"> --}}
                    <textarea class="write__letter__content__text__textarea" placeholder="Текст письма"></textarea>
                {{!-- </div> --}}
            </div>
            <div class="write__letter__content__process-buttons">
                <div
                    class="write__letter__content__process-buttons__send-button write__letter__content__process-button">
                    <input type="button" value="Отправить">
                </div>
                <div
                    class="write__letter__content__process-buttons__save-draft-button write__letter__content__process-button">
                    <input type="button" value="Сохранить черновик">
                </div>
                <div
                    class="write__letter__content__process-buttons__cancel-button write__letter__content__process-button">
                    <input type="button" value="Отменить">
                </div>
            </div>
        </div>
    </div>