.menu {
    background-color: #01012e;
    border: 2px solid #01012e;
    border-radius: 8px;
    grid-area: menu;
    padding: 20px;
    display: grid;
    gap: 30px;
}

.menu__btn {
    padding: 5px 20px 5px 20px;
    display: grid;
    background-color: #210652;
    border: 2px solid #ffffff40;
    border-radius: 8px;
    cursor: pointer;
}

.menu__btn:hover {
    box-shadow: 2px 2px 10px 0px #ffffff55;
}