<div class="menu">
    <div class="menu__write-letter-button">Написать письмо</div>

    <div id="incoming-folder" class="menu__folder">
        <div class="menu__folder__text">Входящие</div>
        <div class="menu__default-folder__counter">1</div>
    </div>
    <div id="sent-folder" class="menu__folder">
        <div class="menu__folder__text">Отправленные</div>
        <div class="menu__default-folder__counter">1</div>
    </div>

    {{!-- <div  class="menu__folder">
        <div class="menu__folder__text">Черновики</div>
        <div class="menu__default-folder__counter">1</div>
    </div>
    <div class="menu__folder">
        <div class="menu__folder__text">Спам</div>
        <div class="menu__default-folder__counter">1</div>
    </div>
    <div class="menu__folder">
        <div class="menu__folder__text">Корзина</div>
        <div class="menu__trash-folder__clear">Очистить</div>
    </div>
    <div class="menu__folder">
        <div class="menu__folder__text">Непрочитанные</div>
        <div class="menu__default-folder__counter">1</div>
    </div>
    <div class="menu__folder">
        <div class="menu__folder__text">С вложениями</div>
        <div class="menu__default-folder__counter">1</div>
    </div>

    <div class="menu__folder">
        <div class="menu__folder__text">Кастомная папка1</div>
        <img class="menu__custom-folder__options" src="/icons/more-options.svg">
    </div>
    <div class="menu__folder">
        <div class="menu__folder__text">Кастомная папка с очень очень очень  очень оченьоченьдлинным названием</div>
        <img class="menu__custom-folder__options" src="/icons/more-options.svg">
    </div>

    <div class="menu__new-folder-button">Новая папка</div> --}}
</div>