.menu {
    grid-area: menu;

    display: grid;
    grid-auto-rows: minmax(20px, auto);
    gap: 1px;
    align-content: start;

    padding: 0 16px 8px 16px;

    width: 232px;
}

.menu__write-letter__button {
    align-content: center;

    margin-bottom: 11px;

    padding: 10px 20px 10px 20px;

    height: 36px;
    width: 100%;

    background-color: white;
    border-radius: 8px;

    text-align: center;

    cursor: pointer;

    transition: all 0.1s ease;
    outline: none;

    input {
        background-color: white;

        color: var(--main-button-secondary);
        font-size: 15px;
        font-weight: 500;
        letter-spacing: 0;
        line-height: 20px;

        cursor: pointer;
        transition: all 0.1s ease;

    }
}

.menu__write-letter__button:hover {
    background-color: var(--main-button-hover);

    input {
        background-color: var(--main-button-hover);
    }
}

.menu__write-letter__button:active {
    transform: scale(0.99);
}


.menu__standard__counter__button {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-content: center;

    padding: 10px 0 10px 10px;

    height: 36px;
    width: 100%;

    background-color: transparent;
    border-radius: 8px;

    text-align: center;

    cursor: pointer;

    transition: all 0.1s ease;

    input {
        background-color: transparent;

        color: var(--text);
        font-size: 15px;
        font-weight: 500;
        letter-spacing: 0;
        line-height: 20px;

        cursor: pointer;
        transition: all 0.1s ease;
    }

    span {
        padding: 0 6px 0 6px;

        color: var(--text);
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0;
        line-height: 20px;
    }
}

.menu__standard__counter__button:hover {
    background-color: var(--secondary-button-onhover-selected)
}

.menu__standard__counter__button:active {
    transform: scale(0.99);
}




.menu__trash__button {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-content: center;

    padding: 10px 0 10px 10px;

    height: 36px;
    width: 100%;

    background-color: transparent;
    border-radius: 8px;

    text-align: center;

    cursor: pointer;

    transition: all 0.1s ease;
    outline: none;

    input {
        background-color: transparent;

        color: var(--text);
        font-size: 15px;
        font-weight: 500;
        letter-spacing: 0;
        line-height: 20px;

        cursor: pointer;
        transition: all 0.1s ease;

    }

    a {
        padding: 0 6px 0 6px;

        color: var(--text);
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 0;
        line-height: 20px;
        text-decoration: none;
    }
}

.menu__trash__button:hover {
    background-color: var(--secondary-button-onhover-selected)
}

.menu__trash__button:active {
    transform: scale(0.99);
}

.menu__custom__button__wrapper {
    position: relative;
}

.menu__custom__button {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-content: center;

    padding: 10px 0 10px 10px;

    height: 36px;
    width: 100%;

    background-color: transparent;
    border-radius: 8px;

    text-align: center;

    cursor: pointer;

    transition: all 0.1s ease;
    outline: none;

    input {
        background-color: transparent;

        color: var(--text);
        font-size: 15px;
        font-weight: 500;
        letter-spacing: 0;
        line-height: 20px;

        cursor: pointer;
        transition: all 0.1s ease;
    }

    span {
        padding: 0 6px 0 6px;

        color: var(--text);
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0;
        line-height: 20px;
    }
}

.menu__custom__button:hover {
    background-color: var(--secondary-button-onhover-selected)
}


.menu__custom__button:active {
    transform: scale(0.99);
}



.dropdown__wrapper__edit-folder {
    position: absolute;
    right: 0;
    top: 100%;

    background: var(--input-background);
    border-radius: 8px;
    z-index: 1;

    box-shadow: 0px 3px 5px -1px var(--box-background);

    margin-top: 0px;
}

.dropdown__edit-folder {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 2px;

    padding: 8px;
}

.dropdown__edit-folder__profile__button,
.dropdown__edit-folder__logout__button {
    padding: 5px 8px 5px 8px;
    border-radius: 8px;
    cursor: pointer;
}

.dropdown__edit-folder__profile__button:hover,
.dropdown__edit-folder__logout__button:hover {
    background-color: var(--secondary-button-onhover-selected);

    input {
        background-color: var(--secondary-button-onhover-selected);
    }
}

.dropdown__edit-folder__profile__button input,
.dropdown__edit-folder__logout__button input {
    background-color: transparent;

    color: var(--text);
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 20px;

    cursor: pointer;
}

.menu__new-folder__button {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-content: center;

    margin-top: 11px;
    padding: 10px 0 10px 10px;

    height: 36px;
    width: 100%;

    background-color: transparent;
    border-radius: 8px;

    text-align: center;

    cursor: pointer;

    transition: all 0.1s ease;
    outline: none;

    input {
        background-color: transparent;

        color: var(--input-placeholder);
        font-size: 15px;
        font-weight: 500;
        letter-spacing: 0;
        line-height: 20px;

        cursor: pointer;
        transition: all 0.1s ease;
    }

    span {
        padding: 0 6px 0 6px;

        color: var(--text);
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0;
        line-height: 20px;
    }
}

.menu__new-folder__button:hover {
    background-color: var(--secondary-button-onhover-selected);

    input {
        color: var(--text);
    }
}

.menu__new-folder__button:active {
    transform: scale(0.99);
}
