<div class="menu">
    <div class="menu__write-letter__button">
        <input type="button" value="Написать письмо">
    </div>
    <div class="menu__standard__counter__button menu__incoming__button">
        <input type="button" value="Входящие">
        <span>1</span>
    </div>
    <div class="menu__standard__counter__button menu__sent__button">
        <input type="button" value="Отравленные">
        <span>1</span>
    </div>
    <div class="menu__standard__counter__button menu__drafts__button">
        <input type="button" value="Черновики">
        <span>1</span>
    </div>
    <div class="menu__standard__counter__button menu__spam__button">
        <input type="button" value="Спам">
        <span>1</span>
    </div>
    <div class="menu__trash__button">
        <input type="button" value="Корзина">
        <a href="">Очистить</a>
    </div>
    <div class="menu__standard__counter__button menu__unread__button">
        <input type="button" value="Непрочитанные">
        <span>1</span>
    </div>
    <div class="menu__standard__counter__button menu__with-attachments__button">
        <input type="button" value="С вложениями">
        <span>1</span>
    </div>
    <div class="menu__custom__button__wrapper">
        <div class="menu__custom__button">
            <input type="button" value="Кастомная папка">
            <span>1</span>
        </div>
        <div class="dropdown__wrapper__edit-folder hide__dropdown__wrapper">
            <div class="dropdown__edit-folder">
                <div class="dropdown__edit-folder__profile__button">
                    <input type="button" value="Личные данные">
                </div>
                <div class="dropdown__profile-menu__logout__button">
                    <input type="button" value="Выйти">
                </div>
            </div>
        </div>
    </div>
    <div class="menu__new-folder__button">
        <input type="button" value="Новая папка">
    </div>
</div>