.menu {
    grid-area: menu;

    display: grid;
    grid-auto-rows: repeat(auto-fit, auto);
    gap: 1px;
    align-content: start;

    padding: 0 16px 8px 16px;

    width: 232px;
}

.menu__write-letter-button {
    display: grid;
    place-items: center;

    margin-bottom: 11px;
    height: 36px;

    background-color: white;
    border-radius: 8px;

    color: var(--main-button-secondary);
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 20px;

    cursor: pointer;
    transform: scale(1);
    transition: background-color 0.1s ease;
}

.menu__write-letter-button:hover {
    background-color: var(--main-button-hover);
}

.menu__write-letter-button:active {
    transform: scale(0.99);

}

.menu__folder {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;

    padding-left: 10px;
    height: 36px;

    border-radius: 8px;

    cursor: pointer;
    transition: background-color 0.1s ease;
}

.menu__folder_selected {
    background-color: var(--secondary-button-onhover-selected)
}

.menu__folder:hover {
    background-color: var(--secondary-button-onhover-selected)
}

.menu__folder__text {
    color: var(--text);
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 20px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.menu__default-folder__counter {
    padding: 0 6px;

    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 20px;
    transition: background-color 0.1s ease;
}

.menu__trash-folder__clear {
    margin-right: 6px;
    padding: 2px 6px;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 20px;
    border-radius: 20px;
    transition: background-color 0.1s ease;
}

.menu__trash-folder__clear:hover,
.menu__custom-folder__options:hover {
    background-color: var(--input-placeholder);
}

.menu__custom-folder__options {
    margin-right: 6px;
    padding: 6px;
    border-radius: 20px;
    transition: background-color 0.1s ease;
}

.menu__new-folder-button {
    display: grid;
    align-items: center;

    padding-left: 10px;
    margin-top: 11px;
    height: 36px;

    border-radius: 8px;

    color: var(--input-placeholder);
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 20px;

    cursor: pointer;
    transition: background-color 0.1s ease;
}

.menu__new-folder-button:hover {
    background-color: var(--secondary-button-onhover-selected);
    color: var(--text);
}