<div class="list-attachment" data-id="{{id}}">
    <div class="list-attachment__name">{{name}}</div>
    <div class="list-attachment__size">{{size}} МБ</div>
    <div class="list-attachment__delete-button">Скачать</div>
</div>