.list-attachment {
    display: grid;
    grid-template-columns: 1fr auto auto;
    grid-column-gap: 8px;

    padding: 8px 6px 8px 12px;
    border-radius: 8px;
    transition: background-color 0.1s ease;
}

.list-attachment:hover {
    background: var(--secondary-button-onhover-selected);
}

.list-attachment__name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    /* line-height: 20px; */
}

.list-attachment__size {
    display: inline-block;
    align-items: center;

    margin-top: 2px;
    max-width: 33px;
    color: var(--input-label-counter-icon);
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 18px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list-attachment__delete-button {
    display: grid;
    align-items: center;

    color: var(--text);
    border-radius: 20px;
    padding: 0 4px;

    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 18px;
    cursor: pointer;
}

.list-attachment__delete-button:hover {
    background-color: var(--input-placeholder);
}