<div class="list-letter">
    <img class="list-letter__img" alt="Img" src={{img}}>
    <div class="list-letter__title">
        {{title}}
    </div>
    <div class="list-letter__text">
        {{text}}
    </div>
</div>