.list-letter {
    display: grid;
    grid-template-columns: auto auto auto auto 1fr auto;
    grid-column-gap: 8px;
    align-items: center;

    padding: 0 8px;
    height: 48px;
    border-radius: 8px;

    cursor: pointer;
    transition: background-color 0.1s ease;
}

.list-letter:hover {
    background-color: var(--main-button-secondary);
}

.list-letter:hover .list-letter__status-offer {
    opacity: 1;
}

.selected-list-letter,
.selected-list-letter:hover {
    background-color: var(--mail-selected);
}

.list-letter__status {
    display: grid;
    place-items: center;
    width: 18px;
    height: 18px;
    border-radius: 100px;
    transition: background-color 0.1s ease;
}

.list-letter__status-offer {
    opacity: 0;
    transition: background-color 0.1s ease;
}

.list-letter__status:hover,
.list-letter__avatar__checkbox:hover {
    background-color: var(--secondary-button-onhover-selected);
}

.list-letter__avatar {
    position: relative;
}

.list-letter__avatar__image {
    display: grid;
    place-items: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: var(--input-background);
    object-fit: cover;
}

.list-letter:hover .list-letter__avatar__image {
    opacity: 0;
}

.list-letter__avatar__checkbox {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    border-radius: 100px;
}

.list-letter__avatar__checkbox_centered {
    display: grid;
    align-items: center;
    margin: 8px;
}

.list-letter:hover .list-letter__avatar__checkbox {
    opacity: 1;
}

.list-letter__text {
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 20px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.list-letter__text_gray {
    color: var(--input-placeholder);
}

@media (max-width: 500px) {
    .list-letter {
        padding: 28px 8px;
        align-content: center;
    }
}