.list-letter {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
    align-content: center;

    padding: 0 8px;
    height: 48px;

    cursor: pointer;
    transition: all 0.1s ease;
}

.list-letter:hover {
    background-color: var(--main-button-secondary);
    border-radius: 8px;
}

.list-letter:active {
    transform: scale(0.99);
}

.list-letter__status-avatar-from-subject-text-group {
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 8px;
    justify-content: start;
    align-items: center;
}

.list-letter__status {
    width: 16px;
    height: 16px;
    transition: all 0.1s ease;
}

.list-letter__status:hover {
    background-color: var(--main-button-secondary);
    border-radius: 100px;
}

.list-letter__text {
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 20px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.list-letter__white-text {
    color: var(--text);

}

.list-letter__gray-text {
    color: var(--input-placeholder);
}

.list-letter_date {
    align-content: center;
}