<div class="list-letter">
    <img class="list-letter__img" src="static/img/1200px-User_icon-cp.svg.png" alt="Img">
    <div class="list-letter__title">
        Title
    </div>
    <div class="list-letter__text">
        Some text about letter.
    </div>
</div>