<div class="list-letter">
    <img class="list-letter__img" alt="Img" src={{avatar}}>
    <div class="list-letter__title">
        {{subject}}
    </div>
    <div class="list-letter__text">
        {{text}}
    </div>
</div>