.list-letter {
    display: grid;
    grid-template-columns: repeat(5, auto) 1fr auto;
    align-items: center;
    gap: 8px;

    padding: 0 8px;
    height: 48px;
    border-radius: 8px;

    cursor: pointer;
}

.list-letter:hover {
    background-color: var(--main-button-secondary);
}

.list-letter_selected,
.list-letter_selected:hover {
    background-color: var(--mail-selected);
}

.list-letter__status {
    width: 16px;
    height: 16px;
}

.list-letter__status-offer {
    visibility: hidden;
}

.list-letter:hover .list-letter__status-offer {
    visibility: visible;
}

.list-letter__status:hover,
.list-letter__avatar-wrapper__checkbox:hover {
    border-radius: 100px;
    background-color: var(--secondary-button-onhover-selected);
}

.list-letter__avatar-wrapper {
    position: relative;
}

.list-letter__avatar-wrapper__avatar {
    display: grid;
    place-items: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: var(--input-background);
    transition: all 0s;
}

.list-letter:hover .list-letter__avatar-wrapper__avatar {
    visibility: hidden;
}

.list-letter__avatar-wrapper__checkbox {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    transition: all 0s;
}

.list-letter__avatar-wrapper__checkbox_centered {
    display: grid;
    align-items: center;
    margin: 8px;
}

.list-letter:hover .list-letter__avatar-wrapper__checkbox {
    visibility: visible;
}


.list-letter__text {
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 20px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.list-letter__text_white {
    color: var(--text);
}

.list-letter__text_gray {
    color: var(--input-placeholder);
}

.list-letter__date {
    grid-column: 7;
}