<div class="header">
    <img src="/icons/menu-roll-up.svg" class="header__rollup-button">
    <div class="header__logo">
        MAILHUB
    </div>
    {{!-- <input type="text" class="header__search-wrapper__input" placeholder="Поиск на почте"> --}}
    {{#if avatar}}
    <img class="header__avatar" src="{{avatar}}" alt="{{userLetter}}">
    {{else}}
    <div class="header__avatar">{{userLetter}}</div>
    {{/if}}

    <div class="header__dropdown">
        <div class="header__dropdown__profile-button">Личные данные
        </div>
        <div class="header__dropdown__stat-button remove">Статистика
        </div>
        <div class="header__dropdown__logout-button">Выйти
        </div>
    </div>
</div>