<div class="header">
    <div class="header__logo-search">
        <div class="header__logo">
            <p>MAILHUB</p>
        </div>
        <div class="header__search">
            <input type="text" class="header__search__body" placeholder="Поиск на почте">
        </div>
    </div>
    <div class="header__avatar">
        {{!-- {{#if avatar}}
        <div>avatar</div>
        {{else}} --}}
        <img class="header__avatar-img" src="../../static/img/avatar_36_36.svg" alt="">
        {{!-- {{/if}} --}}
        <div class="dropdown__wrapper__profile-menu hide__dropdown__wrapper">
            <div class="dropdown__profile-menu">
                <div class="dropdown__profile-menu__profile__button">
                    <input type="button" value="Личные данные">
                </div>
                <div class="dropdown__profile-menu__logout__button">
                    <input type="button" value="Выйти">
                </div>
            </div>
        </div>
    </div>
</div>