<div class="header">
    <div class="header__logo">
        MAILHUB
    </div>
    <div class="header__search">
        <input class="header__input" type="text" placeholder="Поиск по почте">
    </div>
    <div class="header__menu">
        {{#if avatar}}
        <img class="header__img" alt="Img" src='static/img/1200px-User_icon-cp.svg.png'>
        {{else}}
        <div class="header__img">
            {{usernameLetter}}
        </div>
        {{/if}}
        <div class="header__dropdown">
            <div class="header__settings dropdown-element">
                Личные данные
            </div>
            <div class="header__exit dropdown-element">
                Выйти
            </div>
        </div>
    </div>
</div>