.header {
    grid-area: header;

    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;

    padding: 4px 12px 4px 12px;

    height: 62px;
}

.header__logo-search {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: left;

    padding-left: 4px;
}

.header__logo {

    cursor: pointer;

    p {
        color: white;
        font-size: 30px;
        font-weight: 900;
        letter-spacing: 7px;
        line-height: 54px;
    }
}

.header__search {}

.header__avatar {
    position: relative;
    align-content: center;
    cursor: pointer;
}


.dropdown__wrapper__profile-menu {
    position: absolute;
    right: 0;
    top: 100%;

    background: var(--input-background);
    border-radius: 8px;
    z-index: 1;

    box-shadow: 0px 3px 5px -1px var(--box-background);

    margin-top: 0px;
}

.dropdown__profile-menu {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 2px;

    padding: 8px;
}

.dropdown__profile-menu__profile__button,
.dropdown__profile-menu__logout__button {
    padding: 5px 8px 5px 8px;
    border-radius: 8px;
    cursor: pointer;
}

.dropdown__profile-menu__profile__button:hover,
.dropdown__profile-menu__logout__button:hover {
    background-color: var(--secondary-button-onhover-selected);

    input {
        background-color: var(--secondary-button-onhover-selected);
    }
}

.dropdown__profile-menu__profile__button input,
.dropdown__profile-menu__logout__button input {
    background-color: transparent;

    color: var(--text);
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 20px;

    cursor: pointer;
}