.header {
    grid-area: header;
    align-items: center;
    display: grid;
    grid-template-areas:
        'header__logo header__search header__menu';
    grid-template-columns: min-content 1fr min-content;
    column-gap: 10px;
}

.header__logo {
    grid-area: header__logo;
    margin-left: 20px;
}

.header__search {
    grid-area: header__search;
}

.header__menu {
    grid-area: header__menu;
    margin-right: 20px;
    position: relative;
    display: inline-block;
}

.header__dropdown {
    display: none;
    position: absolute;
    background-color: #01012e;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0;
}

.dropdown-element {
    padding: 12px 16px;
    border: 1px solid black;
}

.header__menu:hover .header__dropdown {
    display: block;
}

.dropdown-element:hover {
    background-color: #02024b;
    cursor: pointer;
}
