<div class="header__logo">
    Лого
</div>
<div class="header__search">
    Поиск
</div>
<div class="header__menu">
    Меню
    <div class="header__dropdown">
        <div class="header__settings">
            Настройки
        </div>
        <div class="header__profile">
            Профиль
        </div>
    </div>
</div>