<div class="header">
    <div class="header__logo">
        {{logo}}
    </div>
    <div class="header__search">
        Поиск
    </div>
    <div class="header__menu">
        Меню
        <div class="header__dropdown">
            <div class="header__settings dropdown-element">
                Настройки
            </div>
            <div class="header__profile dropdown-element">
                {{username}}
            </div>
            <div class="header__exit dropdown-element">
                Выйти
            </div>
        </div>
    </div>
</div>