<div class="letter__root">
    {{{header}}}
    {{{menu}}}
    <div class="letter__content__wrapper">
        <div class="letter__content">
            <div class="letter__content__header">
                <div class="letter__content__header__button">
                    <img src="../../static/icons/arrow-previous.svg" alt="">
                </div>
                <div class="letter__content__header__button">
                    <input type="button" value="Удалить">
                </div>
                <div class="letter__content__header__button">
                    <input type="button" value="В папку">
                </div>
                <div class="letter__content__header__button">
                    <input type="button" value="Спам">
                </div>
                <div class="letter__content__header__button">
                    <input type="button" value="Пометить прочитанным">
                </div>
                <div class="letter__content__header__button">
                    <input type="button" value="Помететить непрочитанным">
                </div>
                <div class="letter__content__header__button">
                    <input type="button" value="Ответить">
                </div>
                <div class="letter__content__header__button">
                    <input type="button" value="Переслать">
                </div>
            </div>
            <div class="letter__content__body"></div>
        </div>
    </div>
</div>