<div class="letter__root">
    {{{header}}}
    {{{menu}}}
    <div class="letter__content__wrapper">
        <div class="letter__content">
            <div class="letter__content__header">
                <div class="letter__content__header__button">
                    <img src="../../static/icons/arrow-previous.svg" alt="">
                </div>
                <div class="letter__content__header__button">
                    <input type="button" value="Удалить">
                </div>
                <div class="letter__content__header__button">
                    <input type="button" value="В папку">
                </div>
                <div class="letter__content__header__button">
                    <input type="button" value="Спам">
                </div>
                <div class="letter__content__header__button">
                    <input type="button" value="Пометить прочитанным">
                </div>
                <div class="letter__content__header__button">
                    <input type="button" value="Помететить непрочитанным">
                </div>
                <div class="letter__content__header__button">
                    <input type="button" value="Ответить">
                </div>
                <div class="letter__content__header__button">
                    <input type="button" value="Переслать">
                </div>
            </div>
            <div class="letter__content__body">
                <div class="letter__content__body__subject">
                    <span>Тема письма</span>
                </div>
                <div class="letter__content__body__info">
                    <div class="letter__content__body__info__icon-avatar-name">
                        <img class="letter__content__body__info__icon" src="../../static/icons/circle-read.svg" alt="">
                        <img src="../../static/img/avatar_32_32.svg" alt="">
                        <span>Разработчики Mailhub</span>
                    </div>
                    <span>12/12/2012 00:00</span>
                </div>
                <div class="letter__content__body__attachments">
                    <div class="letter__content__body__attachments__view-button">
                        <input type="button" value="5 файлов">
                        <span>255 КБ</span>
                    </div>
                    <div class="letter__content__body__attachments__download-all-button">
                        <input type="button" value="Скачать все">
                    </div>

                </div>
                <div class="letter__content__body__text">
                    <p>In my knowledge,In my knowledge,In my knowledge,In my knowledge,In my knowledge,In my
                        knowledge,In my knowledge,
                        I am so filled that I seem to have lived for 100 trillion billion years on trillions and
                        trillions of the same planets, do you understand? Like this Earth.
                        This world is already absolutely clear3. to me, and here I am looking for only one thing: peace,
                        tranquility and this harmony from merging with the infinitely eternal. In my knowledge, I am so
                        filled that I seem to have lived for 100 trillion billion years on trillions and trillions of
                        the same planets, do you understand? Like this Earth. This world is already absolutely clear3.
                        to me, and here I am looking for only one thing: peace, tranquility and this harmony from
                        merging with the infinitely eternal.In my knowledge, I am so filled that I seem to have lived
                        for 100 trillion billion years on trillions and trillions of theааа, same planets, do you
                        understand? Like this Earth. This world is already absolutely clear3. to me, and here I am
                        looking for only one thing: peace, tranquility and this harmony from merging with the infinitely
                        eternal.In my knowledge, I am so filled that I seem to have lived for 100 trillion billion years
                        on trillions and trillions of the same planets, do you understand? Like this Earth. This world
                        is already absolutely clear3. to me, and here I am looking for only one thing: peace,
                        tranquility and this harmony from merging with the infinitely eternal.In my knowledge, I am so
                        filled that I seem to have lived for 100 trillion billion years on trillions and trillions of
                        the same planets, do you understand? Like this Earth. This world is already absolutely clear3.
                        to me, and here Ibillion years on trillions and trillions of the same planets, do you
                        understand? Like this Earth. This world is already absolutely clear3. to me, and here I am
                        looking for only one thing: peace, tranquility and this years on trillions and trillions of the
                        same planets, do you understand? Like this am looking for only one thing: peace, tranquility and
                        this harmony from merging with the infinitely eternal.In my knowledge, I am so filled that I
                        seem to have lived for 100 trillion billion years on trillions and trillions of the same
                        planets, do yod is already absolutely clear3. to me, and here I am looking for only one thing:
                        peace, tranquility and this years on trillions and trillions of the same planets, do you
                        understand? Like this Earth. This world is already absolutely clear3. to me, and here I am
                        looking for only one thing: peace, tranquility and this years on trillions and trillions of the
                        same planets, do you understanbillion years on trillions and trillions of the same planets, do
                        you understand? Like this Earth. This world is already absolutely clear3. to me, and here I am
                        looking for only one thing: peace, tranquility and this years on trillions and trillions of the
                        same planets, do you understand? Like this d? Like this Earth. This world is already absolutely
                        clear3. to me, and here I am looking for only one thing: peace, tranquility and this years on
                        trillions and trillions of the same planets, do you understand? Like this Earth. This world is
                        already absolutely clear3. to me, and here I am looking for only one thing: peace, tranquility
                        and this years on trillions and trillions of the same planets, do you understand? Like this
                        Earth. This world is already absolutely clear3. to me, and here I am looking for only one thing:
                        peace, tranquility and this harmony from merging with the infinitely eternal.This world is
                        already absolutely clear3. to me, and here I am looking for only one thingbillion years on
                        trillions and trillions of the same planets, do you understand? Like this Earth. This world is
                        already absolutely clear3. to me, and here I am looking for only one thing: peace, tranquility
                        and this years on trillions and trillions of the same planets, do you understand? Like this :
                        peace, tranquility and this harmony from merging with the infinitely eternal.In my knowledge, I
                        am so filled that I seem to have lived for 100 trillion billion years on trillions and trillions
                        of the same planets, do you understand? Like this Earth. This world is already absolutely
                        clear3. to me, and here I am looking for only one thing: peace, tranquility and this harmony
                        from merging with the infinitely eternal.In my knowledge, I am so filled that I seem to have
                        livedpeace, you understand? Like this Earth. This world is already absolutely clear3. to me, and
                        here I am looking for only one thing: peace, tranquility and this harmony from merging with the
                        infinitely eternal.In my knowledge, I am so filled that I seem to have livedpeace, tranquility
                        and this harmony from merging with the infinitely eternal.In my knowledge, I am so filled that I
                        seem to have livedа lived for 10m so filled that I seem to have lived for 100 trillion billion
                        years on trillions and trillions of the same planets, do you understand? Like this Earth. This
                        world is already absolutely clear3. to me, and here Ibillion years on trillions and trillions of
                        the same planets, do you understand? Like this Earth. This world is already absolutely clear3.
                        to me, and here I am looking for only one thing: peace, tranquility and this years on trillions
                        and trillions of the same planets, do you understand? Like this am looking for only one thing:
                        peace, tranquility and this harmony from merging with the infinitely eternal.In my knowledge, I
                        am so filled that I seem to have lived for 100 trillion billion years on trillions and trillions
                        of the same planets, do yod is already absolutely clear3. to me, and here I am looking for only
                        one thing: peace, tranquility and this years on trillions and trillions of the same planets, do
                        you understand? Like this Earth. This world is already absolutely clear3. to me, and here I am
                        looking for only one thing: peace, tranquility and this years on trillions and trillions of the
                        same planets, do you understanbillion years on trillions and trillions of the same planets, do
                        you understand? Like this Earth. This world is already absolutely clear3. to me, and here I am
                        looking for only one thing: peace, tranquility and this years on trillions and trillions of the
                        same planets, do you understand? Like this d? Like this Earth. This world is already absolutely
                        clear3. to me, and here I am looking for only one thing: peace, tranquility and this years on
                        trillions and trillions of the same planets, do you understand? Like this Earth. This world is
                        already absolutely clear3. to me, and here I am looking for only one thing: peace, tranquility
                        and this years on trillions and trillions of the same planets, do you understand? Like this
                        Earth. This world is already absolutely clear3. to me, and here I am looking for only one thing:
                        peace, tranquility and this harmony from merging with the infinitely eternal.This world is
                        already absolutely clear3. to me, and here I am looking for only one thingbillion years on
                        trillions and trillions of the same planets, do you understand? Like this Earth. This world is
                        already absolutely clear3. to me, and here I am looking for only one thing: peace, tranquility
                        and this years on trillions and trillions of the same planets, do you understand? Like this :
                        peace, tranquility and this harmony from merging with the infinitely eternal.In my knowledge, I
                        am so filled that I seem to have lived for 100 trillion billion years on trillions and trillions
                        of the same planets, do you understand? Like this Earth. This world is already absolutely
                        clear3. to me, and here I am looking for only one thing: peace, tranquility and this harmony
                        from merging with the infinitely eternal.In my knowledge, I am so filled that I seem to have
                        livedpeace, you understand? Like this Earth. This world is already absolutely clear3. to me, and
                        here I am looking for only one thing: peace, tranquility and this harmony from merging with the
                        infinitely eternal.In my knowledge, I am so filled that I seem to have livedpeace, tranquility
                        and this harmony from merging with the infinitely eternal.In my knowledge, I am so filled that I
                        seem to have livedа lived for 1 on trillions and trillions of the same planets, do you
                        understand? Like this Earth. This world is already absolutely clear3. to me, and here I am
                        looking for only one thing: peace, tranquility and this harmony from merging with the infinitely
                        eternal.In my knowledge, I am so filled that I seem to have livedpeace, you understand? Like
                        this Earth. This world is already absolutely clear3. to me, and here I am looking for only one
                        thing: peace, tranquility and this harmony from merging with the infinitely eternal.In my
                        knowledge, I am so filled that I seem to have livedpeace, tranquility and this harmony from
                        merging with the infinitely eternal.In my knowledge, I am so filled that I seem to have livedа
                        lived for 100 trillion billion years on trillions and trillions of the same planets, do you
                        understand? Like this Earth. This world is already from merging with the infinitely eternal.In
                        my knowledge, I am so filled that I seem to have livedаlived for 100 trillion billion years on
                        trillions and trillions of the same planets, do you understand? Like this Earth. This world is
                        already from merging with the infinitely eternal.In my knowledge, I am so filled that I seem to
                        have livedа</p>
                </div>
                <div class="letter__content__body__process-buttons-block">

                </div>
            </div>
        </div>
    </div>